# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore raw shapefile metadata
data/*.VERSION.txt
data/*.shx
data/*.dbf
data/*.prj

# Ignore HTML outputs
*.html
